@charset "UTF-8";
/* CSS Document */
body, html{
	height:100%;
	}
body{
	background-color:rgba(0,0,0,0.05);
	}

/*font list*/
body,p,h1,h2,h3,h4,a,span,li{
	font-family: 'Noto Sans', sans-serif;
	}
h2.faction-title span:nth-child(3), .st-number{
	font-family: 'Playfair Display SC', serif;
	}
h1.cp-fc1, h2.champion-title, h2.champion-title span {
	font-family:'Playfair Display SC', 新細明體;
	}
	
/*header*/
header{
	text-align:center;
	padding:30px 0;
	transition:0.3s;
	height:50px;
	position:fixed;
	width:100%;
	margin-bottom:-110px;
	top:0;
	z-index:9999;
	}
.page header{
	background:#fff;
	border-bottom: 1px solid #ccc;
	}
nav{
	position:relative;
	}
.logo img{
	width:inherit;
	height:50px;
	padding:0 15px;
	transition:0.3s;
	}
.flyingv img{
	height:30px;
	position:relative;
	top:10px;
	}
.menu-list{
	display:inline-block;
	padding:0 40px;
	top:-20px;
	height:50px;
	line-height:50px;
	position:relative;
	cursor: pointer;
	}
.menu-line{
	height:1px;
	width:0;
	transition:0.3s;
	margin:0 auto;
	}
.menu-list:hover > .menu-line{
	width:100%;
	transition:0.3s;
	}
.menu-light .menu-line{
	background:#fff;
	}
.menu-dark .menu-line, .nav-sticky .menu-light .menu-line{
	background:#772e25;
	}
.menu-list.lng{
	background:url(../image/icon-lng-light.svg) no-repeat 10% 50% / 15px auto, url(../image/icon-dropdown-light.svg) no-repeat 85% 50% / 10px auto;
	}
.menu-list a{
	font-size:16px;
	display:block;
	}
.menu-light a{
	color:#fff;
	}
.menu-dark a, .page .menu-light a{
	color:#772e25;
	}
header.nav-sticky .menu-light a{
	color:#772e25;
	}
header.nav-sticky{
    position: fixed;
    top: 0;
    width: 100%;
	transition:0.3s;
	height:30px;
	padding:10px 0;
	background:#fff;
	box-shadow:0 0 5px rgba(0,0,0,0.2);
	}
.nav-sticky .logo img{
	width:inherit;
	height:30px;
	padding:0 10px;
	transition:0.3s;
	}
.nav-sticky .flyingv img{
	height:25px;
	}
.nav-sticky .menu-list{
	height:30px;
	line-height:30px;
	top:-10px;
	}
header.nav-sticky div.menu-list.lng, .page .menu-list.lng{
	background:url(../image/icon-lng-dark.svg) no-repeat 8% 50% / 15px auto, url(../image/icon-dropdown-dark.svg) no-repeat 90% 50% / 10px auto;
	}
.menu-list.logo, header.nav-sticky .menu-list.logo{
	top:0;
	width:275px;
	text-align:center;
	padding: 0 15px;
	}
.first-layout{
	margin-top:110px;
	}
.donate {
    color: #888;
    font-size: 14px;
    font-weight: 200;
    margin-left: 5px;
	letter-spacing:1px;
	}
.menu-list.hide{
	visibility:hidden;
	}

/*language-switcher*/
.lng-switcher {
    opacity: 0;
    position: absolute;
	background:#fff;
	margin-left:-25px;
	transition:0.3s;
	border: 1px solid #ccc;
	margin-top:10px;
	}
.lng-switcher a{
	color:#444 !important;
	font-size:14px;
	line-height:25px;
	height:25px;
	padding: 5px 20px 5px 35px;
	text-align:left;
	text-decoration:none;
	top:0;
	}
.lng-switcher a:hover{
	background-color:#edddd4;
	}
a.zh-tw{
	background:url("../image/flag-zhtw.gif") no-repeat scroll 10% 50% / 15px auto;
	}
a.zh-cn{
	background:url("../image/flag-zhcn.gif") no-repeat scroll 10% 50% / 15px auto;
	}
a.en{
	background:url("../image/flag-enus.gif") no-repeat scroll 10% 50% / 15px auto;
	}
a.ja{
	background:url("../image/flag-jajp.gif") no-repeat scroll 10% 50% / 15px auto;
	}
.lng-switcher.show{
	opacity: 1;
	transition:0.3s;
	margin-top:0;
	}
	
/*box-model*/
.container.full-height{
	height:100%;
    align-items: center;
    display: flex;
	}
.placeholder{
	height:80px;
	}
.wrapper{
	width:1170px;
	margin:0 auto;
	overflow:hidden;
	}
.column-2, .column-8{
	float:left;
	}
.column-2{
	width:20%;
	}
.column-8{
	width:80%;
	}

/*champion list*/
.faction1{
	background:url(../image/bg-oda.png) center center fixed, url(../image/bg-oda2.jpg) center center / cover;
	}
.faction2{
	background:url(../image/bg-unite.png) center center fixed, url(../image/bg-unite2.jpg) center center / cover;
	}
.faction3{
	background:url(../image/bg-neutral.png) center center fixed, url(../image/bg-neutral2.jpg) center center / cover;
	}		
h2.faction-title span {
    color: #fff;
    font-size: 100px;
}
h2.faction-title span:nth-child(2) {
    border: 1px solid #fff;
    display: inline-block;
    line-height: 110px;
    margin-left: 1em;
    padding: 5px 0 7px;
    text-align: center;
    width: 120px;
}
h2.faction-title span:nth-child(3) {
    font-size: 14px;
    letter-spacing: 2px;
    margin-left: -115px;
    margin-top: -19px;
    position: absolute;
	}
.champion-list{
	overflow:hidden;
	}
.champion-box{
	width:85%;
	overflow:hidden;
	}
.champion-list.cl1 > .champion-box:first-child {
    margin-left: 20%;
}
.champion-list.cl1 > .champion-box:nth-child(2) {
    margin-left: 17%;
}
.champion-list.cl1 > .champion-box:nth-child(3) {
    margin-left: 14%;
}
.champion-list.cl1 > .champion-box:nth-child(4) {
    margin-left: 11%;
}
.champion-list.cl1 > .champion-box:nth-child(5) {
    margin-left: 8%;
}
.champion-list.cl2 > .champion-box:first-child {
    margin-left: 3%;
}
.champion-list.cl2 > .champion-box:nth-child(2) {
    margin-left: 6%;
}
.champion-list.cl2 > .champion-box:nth-child(3) {
    margin-left: 9%;
}
.champion-list.cl2 > .champion-box:nth-child(4) {
    margin-left: 11%;
}
.champion-list.cl2 > .champion-box:nth-child(5) {
    margin-left: 14%;
}
.champion-list > ul > li:nth-child(3n){
	margin-right:0;
	}
.champion-list a{
	float:left;
	width:30%;
	margin-bottom:25px;
	margin-right:1%;
	background-color:rgba(255,255,255,0.3);
	background-image:url(../image/icon-seemore.png);
	background-repeat:no-repeat;
	background-position:90% 50%;
	background-size:25px auto;
	border:1px solid #fff;
	box-shadow:1px 1px 3px rgba(0,0,0,0.2);
	display:block;
	height:64px;
	transition:0.5s;
	position:relative;
	}
.champion-list a img{
	width:64px;
	height:inherit;
	}
.champion-name{
	display:inline;
	margin-left:15px;
	margin-top:-15px;
	line-height: 30px;
	text-decoration:none;
	font-size:16px;
	color:#444;
	letter-spacing:1px;
	position:absolute;
	top:50%;
	}
.champion-list a:hover{
	background-color:#fff;
	box-shadow:2px 3px 10px rgba(0,0,0,0.5);
	border:#1px solid #c44536;
	transition:0.5s;
	}
.champion-list.cl1 a:hover{
	border-color:#c44536;
	}
.champion-list.cl2 a:hover{
	border-color:#197278;
	}
.champion-list.cl3 a:hover{
	border-color:#473B39;
	}
.hr{
	height:15px;
	background:url(../image/hr.png) no-repeat center center / auto 100%;
	margin:50px 0 70px;
	}
	
/*champion info*/
.champion-banner{
	height:450px;
	background:url(../image/bg-champion1-1.jpg) no-repeat center center / cover;
	}
h1.cp-fc1 {
    color: #fff;
    font-size: 120px;
	letter-spacing:10px;
    left: 10%;
    position: relative;
    text-shadow: 2px 3px 10px rgba(0, 0, 0, 0.8);
    top: 100px;
	font-family:'新細明體';
	}
h1.cp-fc1::after {
    content: "+ 織田軍 ";
	letter-spacing:3px;
    display: block;
    font-family: "Noto Sans",sans-serif;
    font-size: 24px;
    margin-left: 5px;
    margin-top: 10px;
	}
.champion-info {
    background: #fff none repeat scroll 0 0;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    margin: 30px auto 50px;
    padding: 60px 30px 40px;
    width: 90%;
	overflow:hidden;
	}
h2.champion-title{
	font-size:22px;
	color:#772e25;
	letter-spacing:10px;
	text-align:center;
	}
h2.champion-title span{
	font-size:12px;
	display:block;
	margin-top:10px;
	}
h3.ver{
	font-size:13px;
	color:#888;
	text-align:center;
	letter-spacing:3px;
	width:150px;
	line-height:25px;
	margin:20px auto 0;
	border:1px solid #ccc;
	}

.youtube-iframe{
	margin-top:30px;
	text-align:center;
	}
.youtube-iframe iframe{
	width:800px;
	height:450px;
	}

h4.ability-name {
    border-bottom: 1px solid #edddd4;
    color: #283d3b;
    font-size: 20px;
    letter-spacing: 2px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    padding-left: 15px;
	}
.ability-list {
    margin: 20px auto 40px;
    overflow: hidden;
    width: 90%;
	}
.ability-box > img {
    border-radius: 5px;
    float: left;
    margin-left: 10px;
	}
.ability-info li {
    color: #666;
    font-size: 16px;
    letter-spacing: 1px;
	line-height:2em;
	font-weight:200;
	padding-left:130px;
	}
.ability-info li font, .ability-info li span {
    color: #c44536;
    font-weight: 700;
	}
.st-box {
    float: left;
    margin: 30px 0 10px;
    text-align: center;
    width: 16.6667%;
	}
.st-title {
    border-color: #ccc #197278;
    border-image: none;
    border-left: 1px solid #197278;
    border-radius: 50%;
    border-right: 1px solid #197278;
    color: #283d3b;
    font-size: 18px;
    font-weight: 200;
    letter-spacing: 2px;
    line-height: 130px;
    margin: 5px auto;
    width: 130px;
	position:relative;
	}	
.st-number {
    color: #197278;
    font-size: 18px;
    letter-spacing: 1px;
    margin-top: 15px;
	}

.st-win, .st-lose {
    background-color: #c44536;
    border-radius: 50%;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 40px;
    position: absolute;
    top: 5px;
    width: 40px;
	}
.st-lose{
	background-color:#888;
	}
	
/*footer*/
footer{
	background:#283d3b;
	padding:60px 0 40px;
	}
.quick-link{
	width:1070px;
	margin:0 auto;
	overflow:hidden;
	}
.ql-1, .ql-2, .ql-3{
	width:33%;
	float:left;
	}
.ql-title{
	color:#c44536;
	font-size:16px;
	border-bottom:1px solid #c44536;
	width:95%;
	padding-bottom:15px;
	margin-bottom:20px;
	}
.quick-link a {
    color: #edddd4;
    display: inline-block;
    margin-bottom: 15px;
    margin-right: 15px;
    text-decoration: none;
	padding-bottom: 5px;
    border-bottom: 1px dashed #c44536;
	}

/*copyright*/
.copyright {
    color: #197278;
    font-size: 14px;
    margin-top: 30px;
    text-align: center;
	}