@charset "UTF-8";
/* CSS Document */
body, html{
	height:100%;
	}
body{
	background-color:rgba(0,0,0,0.05);
	}

/*element hide*/
#mobile-navbar, .mobile-show{display: none;}
#mobile-nav{
	background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
    display: block;
    height: 100%;
    opacity: 0;
    position: fixed;
    top: -80px;
    visibility: hidden;
    width: 100%;
    z-index: 100;
	transition: 0.3s;
}
#mobile-nav-lng {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
    opacity: 0;
    position: absolute;
    right: 15px;
    top: 30px;
    transition: all 0.3s ease 0s;
    visibility: hidden;
    width: 100px;
	transition: 0.3s;
}


/*font list*/
body,p,h1,h2,h3,h4,a,span,li{
	font-family: 'Noto Sans', sans-serif;
	}
h2.faction-title span:nth-child(3), .st-number{
	font-family: 'Playfair Display SC', serif;
	}
/*h1.cp-fc1, h2.champion-title, h2.champion-title span {
	font-family:'Playfair Display SC', 新細明體;
	}*/
	
/*header*/
header{
	text-align:center;
	padding:30px 0;
	transition:0.3s;
	height:50px;
	position:fixed;
	width:100%;
	margin-bottom:-110px;
	top:0;
	z-index:9999;
	}
.page header{
	background:#fff;
	border-bottom: 1px solid #ccc;
	}
nav{
	position:relative;
	}
.logo img{
	width:inherit;
	height:50px;
	padding:0 15px;
	transition:0.3s;
	}
.flyingv img{
	height:25px;
	position:relative;
	top:10px;
	}
.menu-list{
	display:inline-block;
	padding:0 30px;
	top:-20px;
	height:50px;
	line-height:50px;
	position:relative;
	cursor: pointer;
	}
.menu-list.lng{
	padding:0px;
	}
.menu-line{
	height:1px;
	width:0;
	transition:0.3s;
	margin:0 auto;
	}
.menu-list:hover > .menu-line{
	width:100%;
	transition:0.3s;
	}
.menu-light .menu-line{
	background:#fff;
	}
.menu-dark .menu-line, .nav-sticky .menu-light .menu-line, .page .menu-light .menu-line{
	background:#772e25;
	}
.menu-list a{
	font-size:16px;
	display:block;
	line-height:50px;
	text-decoration:none;
	}
.menu-light a{
	color:#fff;
	}
.menu-dark a, .page .menu-light a{
	color:#772e25;
	}
header.nav-sticky .menu-light a{
	color:#772e25;
	}
header.nav-sticky{
    position: fixed;
    top: 0;
    width: 100%;
	transition:0.3s;
	height:50px;
	padding:0;
	background:#fff;
	box-shadow:0 0 5px rgba(0,0,0,0.2);
	}
.nav-sticky .logo img{
	width:inherit;
	height:30px;
	padding:10px 10px;
	transition:0.3s;
	}
.nav-sticky .menu-list{
	height:30px;
	line-height:30px;
	padding-top:10px;
	padding-bottom:10px;
	}
.menu-list.logo, header.nav-sticky .menu-list.logo{
	top:0;
	width:275px;
	text-align:center;
	padding: 0 15px;
	}
.menu-list.flyingv{
	width:180px;
	}
.first-layout{
	margin-top:110px;
	}
.donate {
    color: #888;
    font-size: 14px;
    font-weight: 200;
    margin-left: 5px;
	letter-spacing:1px;
	}
.menu-list.hide{
	visibility:hidden;
	}

/*language-switcher, item menu*/
.lng-choose{
	background:url(/static/image/icon-lng-light.svg) no-repeat 10% 40% / 15px auto, url(/static/image/icon-dropdown-light.svg) no-repeat 85% 40% / 10px auto;
	padding:0 35px;
	}
header.nav-sticky .lng-choose, .page .lng-choose{
	background:url(/static/image/icon-lng-dark.svg) no-repeat 8% 40% / 15px auto, url(/static/image/icon-dropdown-dark.svg) no-repeat 90% 40% / 10px auto;
	}
.lng-switcher, .item-menu {
    opacity: 0;
    position: absolute;
	background:#fff;
	transition:0.3s;
	border: 1px solid #ccc;
	margin-top:10px;
	margin-left:10px;
	pointer-events: none;
	}
.item-menu{
	width:125px;
	margin-left:-10px;
	}
.lng-switcher a{
	color:#444 !important;
	font-size:14px;
	line-height:25px;
	height:25px;
	padding: 5px 20px 5px 35px;
	text-align:left;
	text-decoration:none;
	top:0;
	}
.item-menu a{
	color:#444 !important;
	font-size:14px;
	line-height:25px;
	height:25px;
	padding: 8px 20px 8px 20px;
	text-align:left;
	text-decoration:none;
	top:0;
	}
.lng-switcher a:hover, .item-menu a:hover{
	background-color:#edddd4;
	}
a.zh-tw{
	background:url("/static/image/flag-zhtw.gif") no-repeat scroll 10% 50% / 15px auto;
	}
a.zh-cn{
	background:url("/static/image/flag-zhcn.gif") no-repeat scroll 10% 50% / 15px auto;
	}
a.en{
	background:url("/static/image/flag-enus.gif") no-repeat scroll 10% 50% / 15px auto;
	}
a.ja{
	background:url("/static/image/flag-jajp.gif") no-repeat scroll 10% 50% / 15px auto;
	}
.lng-switcher.show, .item-menu.show{
	opacity: 1;
	transition:0.3s;
	margin-top:-5px;
	pointer-events:auto;
	}
	
/*box-model*/
.container.full-height{
	height:100%;
    align-items: center;
    display: flex;
	}
.placeholder{
	height:80px;
	}
.wrapper{
	width:1170px;
	margin:0 auto;
	overflow:hidden;
	}
.column-2, .column-8{
	float:left;
	}
.column-2{
	width:20%;
	}
.column-8{
	width:80%;
	}

/*champion list*/
.faction1{
	background:url(/static/image/bg-oda.png) center center fixed, url(/static/image/bg-oda2.jpg) center center / cover;
	}
.faction2{
	background:url(/static/image/bg-unite.png) center center fixed, url(/static/image/bg-unite2.jpg) center center / cover;
	}
.faction3{
	background:url(/static/image/bg-neutral.png) center center fixed, url(/static/image/bg-neutral2.jpg) center center / cover;
	}		
h2.faction-title span {
    color: #fff;
    font-size: 100px;
}
h2.faction-title span:nth-child(2) {
    border: 1px solid #fff;
    display: inline-block;
    line-height: 110px;
    margin-left: 1em;
    padding: 15px 0 0;
    text-align: center;
    width: 120px;
}
h2.faction-title span:nth-child(3) {
    font-size: 14px;
    letter-spacing: 2px;
    margin-left: -120px;
    margin-top: -19px;
    position: absolute;
	}
.champion-list{
	overflow:hidden;
	}
.champion-box{
	width:85%;
	overflow:hidden;
	}
.champion-list.cl1 > .champion-box:first-child {
    margin-left: 20%;
}
.champion-list.cl1 > .champion-box:nth-child(2) {
    margin-left: 17%;
}
.champion-list.cl1 > .champion-box:nth-child(3) {
    margin-left: 14%;
}
.champion-list.cl1 > .champion-box:nth-child(4) {
    margin-left: 11%;
}
.champion-list.cl1 > .champion-box:nth-child(5) {
    margin-left: 8%;
}
.champion-list.cl1 > .champion-box:nth-child(6) {
    margin-left: 5%;
}
.champion-list.cl1 > .champion-box:nth-child(7) {
    margin-left: 3%;
}
.champion-list.cl1 > .champion-box:nth-child(8) {
    margin-left: 0%;
}
.champion-list.cl2 > .champion-box:first-child {
    margin-left: 3%;
}
.champion-list.cl2 > .champion-box:nth-child(2) {
    margin-left: 6%;
}
.champion-list.cl2 > .champion-box:nth-child(3) {
    margin-left: 9%;
}
.champion-list.cl2 > .champion-box:nth-child(4) {
    margin-left: 11%;
}
.champion-list.cl2 > .champion-box:nth-child(5) {
    margin-left: 14%;
}
.champion-list.cl2 > .champion-box:nth-child(6) {
    margin-left: 17%;
}
.champion-list.cl2 > .champion-box:nth-child(6) {
    margin-left: 20%;
}
.champion-list.cl2 > .champion-box:nth-child(8) {
    margin-left: 23%;
}
.champion-list > ul > li:nth-child(3n){
	margin-right:0;
	}
.champion-list a{
	float:left;
	width:30%;
	margin-bottom:25px;
	margin-right:1%;
	background:rgba(255,255,255,0.3) url(/static/image/icon-seemore.png) no-repeat 90% 50% / 25px auto;
	border:1px solid #fff;
	box-shadow:1px 1px 3px rgba(0,0,0,0.2);
	display:block;
	height:64px;
	transition:0.5s;
	position:relative;
	}
.champion-list a img{
	width:64px;
	height:inherit;
	}
.champion-name{
	display:inline;
	margin-left:15px;
	margin-top:-15px;
	line-height: 30px;
	text-decoration:none;
	font-size:16px;
	color:#444;
	letter-spacing:1px;
	position:absolute;
	top:50%;
	}
.champion-list a:hover{
	background-color:#fff;
	box-shadow:2px 3px 10px rgba(0,0,0,0.5);
	border:#1px solid #c44536;
	transition:0.5s;
	}
.champion-list.cl1 a:hover{
	border-color:#c44536;
	}
.champion-list.cl2 a:hover{
	border-color:#197278;
	}
.champion-list.cl3 a:hover{
	border-color:#473B39;
	}
.hr{
	height:15px;
	background:url(/static/image/hr.png) no-repeat center center / auto 100%;
	margin:50px 0 70px;
	}
	
/*champion info*/
.champion-banner{
	height:450px;
	background:url(/static/image/bg-champion1-1.jpg) no-repeat center center / cover;
	}
h1.cp-fc1, h1.page-title-item {
    color: #fff;
    font-size: 120px;
	letter-spacing:10px;
    left: 10%;
    position: absolute;
    text-shadow: 2px 3px 10px rgba(0, 0, 0, 0.8);
    top: 200px;
	/*font-family:'chekiangshukesung';*/
	}
h1.cp-fc1::after {
    content: "+ 織田軍 ";
	letter-spacing:3px;
    display: block;
    font-family: "Noto Sans",sans-serif;
    font-size: 24px;
    margin-left: 5px;
    margin-top: 10px;
	}
h1.page-title-item::after {
    content: "+ 裝備道具 ";
	letter-spacing:3px;
    display: block;
    font-family: "Noto Sans",sans-serif;
    font-size: 20px;
    margin-left: 10px;
    margin-top: 10px;
	}
.champion-info {
    background: #fff none repeat scroll 0 0;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    margin: 30px auto 50px;
    padding: 60px 30px 40px;
    width: 90%;
	overflow:hidden;
	}
h2.champion-title{
	font-size:22px;
	color:#772e25;
	letter-spacing:10px;
	text-align:center;
	}
h2.champion-title span{
	font-size:12px;
	display:block;
	margin-top:10px;
	}
h3.ver{
	font-size:13px;
	color:#888;
	text-align:center;
	letter-spacing:3px;
	width:150px;
	line-height:25px;
	margin:20px auto 0;
	border:1px solid #ccc;
	}

.youtube-iframe{
	margin-top:30px;
	text-align:center;
	}
.youtube-iframe iframe{
	width:800px;
	height:450px;
	}

h4.ability-name {
    border-bottom: 1px solid #edddd4;
    color: #283d3b;
    font-size: 20px;
    letter-spacing: 2px;
    margin-bottom: 15px;
    padding: 10px 0 10px 15px;
	}
.ability-list {
    margin: 20px auto 40px;
    overflow: hidden;
    width: 90%;
	}
.ability-box > img {
    border-radius: 5px;
    float: left;
    margin-left: 10px;
	}
.ability-info li {
    color: #666;
    font-size: 16px;
    letter-spacing: 1px;
	line-height:2em;
	font-weight:200;
	padding-left:130px;
	}
.ability-info li font, .ability-info li span {
    color: #c44536;
    font-weight: 700;
	}
.kda {
	overflow: hidden;
	text-align:center;
	}
.st-box {
    float: left;
    margin: 30px 0 10px;
    text-align: center;
    width: 16.6667%;
	}
.kda .st-box {
    display: inline-block;
    float: none;
	}
.st-title {
    border-color: #ccc #197278;
    border-image: none;
    border-left: 1px solid #197278;
    border-radius: 50%;
    border-right: 1px solid #197278;
    color: #283d3b;
    font-size: 18px;
    font-weight: 200;
    letter-spacing: 2px;
    line-height: 100px;
    margin: 5px auto;
    width: 130px;
	position:relative;
	padding: 17px 0 13px;
	}	
.st-number {
    color: #197278;
    font-size: 18px;
    letter-spacing: 1px;
    margin-top: 15px;
	}

.st-win, .st-lose, .st-avg{
    background-color: #c44536;
    border-radius: 50%;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 40px;
    position: absolute;
    top: 5px;
    width: 40px;
	}
.st-lose{
	background-color:#888;
	}
.st-avg{
	background-color:#197278;
	}

/*item into*/
.item-banner{
	background:url(../image/bg-item1.jpg) no-repeat center center / cover;
	}
.item-info-list ul{
	width:100%;
	overflow: hidden;
	margin-bottom:8px;
	}
.item-info-list li{
	padding-left: 0;
	float: left;
	}
.item-info-list > ul:first-child > li{
	width: 20%;
	}
.ability-info-list > ul:first-child > li {
    margin-right: 30px;
    width: auto;
}
.item-info-list .item-info-list-title {
    background: #c44536;
    border-radius: 30px;
    color: #fff;
    font-size: 14px;
    padding: 5px 12px;
	position:relative;
	z-index:100;
	}
.item-info-list .item-info-list-value {
    background: #efefef none repeat scroll 0 0;
    border-radius: 30px;
    color: #772e25;
    font-size: 14px;
    margin-left: -20px;
    padding: 5px 12px 5px 30px;
    position: relative;
    z-index: 99;
	}
.item-note {
    background: #f7f7f7 none repeat scroll 0 0;
    border-left: 2px solid #c44536;
    display: inline-block;
    font-size: 14px !important;
    margin-left: 130px;
    margin-top: 5px;
    padding: 5px 12px !important;
	}

/*thanx*/
.thanx-box{
	margin-top:180px;
	}
.thanx-list{
	text-align:center;
	line-height:2.2em;
	color:#197278;
	margin:10px 0 30px;
	font-size: 14px;
	}
h3.ver.thanx-cata{
	margin-top:30px;
	}
.more-thanx{
	font-size: 16px;
	color:#772e25;
	margin:100px 0;
	text-align: center;
	}
.more-thanx span{
	display:block;
	line-height:2em;
	font-size:48px;
	}	
/*footer*/
footer{
	background:#283d3b;
	padding:60px 0 40px;
	}
.quick-link{
	width:1070px;
	margin:0 auto;
	overflow:hidden;
	}
.ql-1, .ql-2, .ql-3{
	width:33%;
	float:left;
	}
.ql-title{
	color:#c44536;
	font-size:16px;
	border-bottom:1px solid #c44536;
	width:95%;
	padding-bottom:15px;
	margin-bottom:20px;
	line-height: 1.5em;
	}
.quick-link a {
    color: #edddd4;
    display: inline-block;
    margin-bottom: 15px;
    margin-right: 15px;
    text-decoration: none;
	padding-bottom: 5px;
    border-bottom: 1px dashed #c44536;
	}
.quick-link a:hover{
	color: #c44536;
	}

/*copyright*/
.copyright {
    color: #197278;
    font-size: 14px;
    margin-top: 30px;
    text-align: center;
	}